header{
  text-align: center;
}

table {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

tr:nth-child(even){
  background-color: $evenRowColor;
}

tr:nth-child(odd){
  background-color: $oddRowColor;
}

td {
  padding:$tdPadding;
}
